<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
    </head>

    <body>
        <header>
            <%- include("../page_fragments/header.ejs") %>
        </header>

        <main>
            <div id="container-dashboard-form">
                <h2>Create a new diet plan</h2>
                <!-- <h3 class="centered">Select plan type:</h6> -->
                <select id="ptype" name="ptype" form="create-plan-form" style="display: none;">
                    <option value="0" selected>Diet plan</option>
                    <option value="1">Workout plan</option>
                </select>
                <form method="post" id="create-plan-form" class="centered dashboard-form" action="/create-plan">
                    <label>
                        <h4 class="centered">Height (in cm)</h4>
                        <input type="number" name="height" value="<%= locals.user_data.height ? user_data.height: '' %>" required/>
                    </label>
                    <br/>
                    <label>
                        <h4 class="centered">Weight (in kg)</h4>
                        <input type="number" name="weight" value="<%= locals.user_data.weight ? user_data.weight: '' %>" required/>
                    </label>
                    <br/>
                    <!-- <label>
                        <h4 class="centered">Age</h4>
                        <input type="number" name="age" value="20" required/>
                    </label> -->
                    <!-- <br/> -->
                    <h4 class="centered">What is your daily routine?</h4>
                        <select id="routine" name="routine" form="create-plan-form">
                            <option value="0" <%= locals.user_data.activity_level == 0 ? 'selected': '' %>>I am a sedentary person and I rarely go for walks</option>
                            <option value="1" <%= locals.user_data.activity_level == 1 ? 'selected': '' %>>Sometimes I enjoy walks but I am not really into sports</option>
                            <option value="2" <%= locals.user_data.activity_level == 2 ? 'selected': '' %>>I love playing sports but I am a bit out of shape</option>
                            <option value="3" <%= locals.user_data.activity_level == 3 ? 'selected': '' %>>I always make time for gym and I am actively involved into the sport life</option>  
                        </select>
                    </br>
                    <h4 class="centered">What is your ultimate goal?</h4>
                        <select id="goal" name="goal" form="create-plan-form">
                            <option value="0" <%= locals.user_data.goal == 0 ? 'selected': '' %>>Lose weight & maintain a healthy diet</option>  
                            <option value="1" <%= locals.user_data.goal == 1 ? 'selected': '' %>>Gain weight & muscle mass</option>
                        </select>
                    </br>
                    <button type="submit" value="submit">Create plan</button>
                </form>
            </div>
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>
</html>