<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
        <script src="/assets/js/script.js"></script>
    </head>

    <body>
        <header>
            <%- include("../page_fragments/header.ejs") %>
        </header>

        <main>
            <!-- <div class="container-index"> -->
                <% if(!locals.user){ %>
                    <div class="container-index">
                        <div class="banner">
                            <h2 class="centered"><span style="color:#16ADD8;">Nothing</span> is stopping you from being the best.</h2>
                            <h4 class="centered">Maintain a healthy routine while enjoying your life to the fullest. Jump in our <span style="color: black;">Diet & Workout Plan Creator</span> that provides everything for you to get back in shape.</h4>
                            <h5><a href="/register" class="plan-button-simple">Join & Create your first plan!</a></h5>
                            <h5><a href="/login" class="login-add">Already a member? Sign in</a></h5>
                        </div>
                        <div class="banner-image"><img src="/assets/images/dashb.png"></div>
                    </div>
                <% } else { %>
                    <!-- <div class="banner-login">
                        <h1 class="centered" style="font-family: rubik; font-weight: bold; margin: 40px; font-size: 3em;">Glad you are here. <br><span style="color: blue;">Let's get started.</span></h3>
                        <a href="/diet-plans" class="plan-button-banner">Your diet plans</a>
                        <a href="/workout-plans" class="plan-button-banner">Your workout plans</a>
                        <a href="/create-plan" class="plan-button-banner">Create another plan</a>
                        <img src="/assets/images/dashb-login.png" style="display: block; margin: auto; width: 150px; height: 150px;">
                    </div> -->
                    <div id="container-dashboard">
                        <div id="dashboard-details-section">
                            <h2>My details</h2>
                            
                            <p class="dashboard-row"><span class="dashboard-left-column">Username</span> <span class="dashboard-right-column"><%- locals.user %></span></p>
                            <p class="dashboard-row"><span class="dashboard-left-column">Height</span> <span class="dashboard-right-column"><%- locals.user_data.height %><span class="dashboard-unit">cm</span></span></p>
                            <p class="dashboard-row"><span class="dashboard-left-column">Weight</span> <span class="dashboard-right-column"><%- locals.user_data.weight %><span class="dashboard-unit">kg</span></span></p>
                            <p class="dashboard-row"><span class="dashboard-left-column">Gender</span> <span class="dashboard-right-column"><% if (locals.user_data.gender == 1) { %> Male <% } else if (locals.user_data.gender == 0) { %> Female <% } else { %> Not set <% } %></span></p>
                            <p class="dashboard-row"><span class="dashboard-left-column">Age</span> <span class="dashboard-right-column"><%- locals.user_data.age %></span></p>

                            <a href="/update-details" class="dashboard-button">Update details</a>
                        </div>

                        <div id="dashboard-goals-section">
                            <h2>My goals</h2>
                            <!-- <h4>Coming soon!</h4> -->

                            <p class="dashboard-row"><span class="dashboard-right-column" style="float: unset;"><% if (locals.user_data.goal == 0) { %> Lose weight <% } else if (locals.user_data.goal == 1) { %> Build muscle <% } else { %> Goal not set <% } %> </span></p>
                            <p class="dashboard-row"><span class="dashboard-left-column">Weight</span> <span class="dashboard-right-column"><%- locals.user_data.weight_goal %><span class="dashboard-unit">kg</span></span></p>

                            <a href="/update-goals" class="dashboard-button">Update goals</a>
                        </div>

                        <div id="dashboard-diet-plans-section">
                            <h2>My diet plans</h2>
                            <h4>List view coming soon!</h4>

                            <!-- <div class="swiper-outer-container">
                                <div class="swiper-container">
                                    <div class = "swiper-wrapper">
                                    
                                    </div>
                                    <div class = "swiper-pagination"></div>
                                    <div class = "swiper-button-prev"></div>
                                    <div class = "swiper-button-next"></div>
                                </div>
                            </div> -->

                            <a href="/diet-plans" class="dashboard-button" style="margin-top: 30px;">View all</a>
                        </div>

                        <div id="dashboard-workout-plans-section">
                            <h2>My workout plans</h2>
                            <h4>List view coming soon!</h4>

                            <!-- <div class="swiper-outer-container">
                                <div class="swiper-container">
                                    <div class = "swiper-wrapper">
                                    
                                    </div>
                                    <div class = "swiper-pagination"></div>
                                    <div class = "swiper-button-prev"></div>
                                    <div class = "swiper-button-next"></div>
                                </div>
                            </div> -->

                            <a href="/workout-plans" class="dashboard-button" style="margin-top: 30px;">View all</a>
                        </div>
                    </div>
                <% } %>
            <!-- </div> -->
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>

    <script>
        $(document).ready(async function () {
            const retrieve_bal = await fetchPlans("http://localhost:8888/fetch-dplans", 0);
        });

        $(document).ready(async function () {
            const retrieve_bal = await fetchPlans("http://localhost:8888/fetch-wplans", 1);
        });
    </script>
</html>